body {
    padding: 0;
    margin: 0;
    /* Makes sticky footer possible */
    min-height: 100vh;
}
/* Navbar styles */
.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}

.header-logo img {
    width: 200px;
    height: auto;
}

/* Content 1 styles */
.content-one-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.content-one {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
}

.text-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text {
    font-size: 30px;
    color: #F9FAF8;
}


button {
    background-color: #3882F6;
    padding: 15px;
    border-radius: 10px;
    width: 140px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.content-pic img{
    width: 900px;
    height: auto;
}

/* Content 2 styles */

.content-two-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 24px;
    padding: 30px;
}

.content-two-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.content-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1;
}

.box-container {
    width: 200px;
    height: 200px;
}

.grid-text {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}
/* Color variation for each characters */

.grid-text.one {
    color: rgb(255, 118, 55);
}

.grid-text.two {
    color: rgb(68, 195, 253);
}
.grid-text.three {
    color: rgb(205, 34, 240);
}
.grid-text.four {
    color: rgb(240, 143, 159);
}

.box-container img{
    width: 190px;
    height: auto;
    border: 5px solid rgb(44, 142, 253);
}

/* Content 3 styles */

.content-three-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 150px;
}

.content-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 05.;
    gap: 15px;
}

.header-quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-from {
    display: flex;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}




