body {
    padding: 0;
    margin: 0;
    /* Makes sticky footer possible */
    min-height: 100vh;
}
/* Navbar styles */
.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}

.header-logo img {
    width: 200px;
    height: auto;
}

/* Content 1 styles */
.content-one-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.content-one {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
}

.text-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text {
    font-size: 30px;
    color: #F9FAF8;
}


button {
    background-color: #3882F6;
    padding: 15px;
    border-radius: 10px;
    width: 140px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.content-pic img{
    width: 900px;
    height: auto;
}

/* Content 2 styles */
.content-two-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-two {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-container {
    
}

.grid {
    border: 5px solid rgb(44, 142, 253);
    height: 150px;
    border-radius: 10px;
}

.content-two-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

